###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/bin/
/src/
/.env.dist
/composer.lock
/symfony.lock
/.idea
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
